.fo {
  width: 500px;
  text-align:left;
}
 
ol {
  color: #ccc;
  list-style-type: none;
}
 
ol li {
  position: relative;
  font: bold italic 30px/1.5 Helvetica, Verdana, sans-serif;
}
 
li p {
  font: 16px/1.5 Helvetica, sans-serif;
  padding-left: 60px;
  color: #555;
  display: inline-block;
}
 
.fa {
    position: absolute;
}